<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="810f8d63-c296-47a6-b77a-2b1d6dfa55de" Name="Pdf edit" Language="1033" Version="1.0.0.0" Manufacturer="PdfEdit team by Autosystem from Mazoea" UpgradeCode="ae7abe8f-8d16-47cd-ab7d-d5a715b9e977">

    <Package InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir" FileSource="..\..\">
      <Directory Id="TARGETSUBDIR" Name="PdfEdit" FileSource="..\..\output">
        <Directory Id="pdfImages" Name="images">
          <Component Id="ImageSource" Guid="8f654235-16ee-4a04-b607-2f848fc32db5" >
            <File Id="imgabout" Name="about.png"  />
            <File Id="imgcomment" Name="comment.png"  />
            <File Id="imgcontent" Name="content.png"  />
            <File Id="imgdebug" Name="debug.png"  />
            <File Id="imgdeletepage" Name="deletepage.png"/>
            <File Id="imgDeleteText" Name="DeleteText.png"/>
            <File Id="imgderotate" Name="derotate.png"/>
            <File Id="imgdownpage" Name="downpage.png"/>
            <File Id="imgeraseText" Name="eraseText.png"/>
            <File Id="imghand" Name="hand.png"/>
            <File Id="imgimages" Name="images.png"/>
            <File Id="imginserttext" Name="insert_text.png"/>
            <File Id="imginsertTextMarker" Name="insertTextMarker.png"/>
            <File Id="imgnextpage" Name="nextpage.png"  />
            <File Id="imgopen" Name="open.png"/>
            <File Id="pagedown" Name="page_down.png"/>
            <File Id="imgpreviousPage" Name="previousPage.png"/>
            <File Id="redo" Name="redo.png"/>
            <File Id="rotate" Name="rotate.png"/>
            <File Id="save" Name="save.png"/>
            <File Id="saveas" Name="saveas.png"/>
            <File Id="savecopy" Name="savecopy.png"/>
            <File Id="saveencoded" Name="save-encoded.png"/>
            <File Id="search" Name="search.png"/>
            <File Id="setText" Name="setText.png"/>
            <File Id="imgTextConvert.png" Name="TextConvert.png"  />
            <File Id="imgundo.png" Name="undo.png"  />
            <File Id="imgUppage.png" Name="uppage.png"  />
            <File Id="imgView.png" Name="view.png"  />
            <File Id="imgZoom" Name="zoom.png"  />
            <File Id="imgDecrypt_icon" Name="decrypt_icon.png"  />
            <File Id="imgOperator" Name="operator.png"  />
            <File Id="imgAddPage" Name="addpage.png" />
          </Component>
        </Directory>
        <Component Id="Executable" Guid="8f654235-16ee-4a04-b607-2f848fc32db4">
          <File Id='PdfEditExe' Name='$(var.TARGETSOURCE)' KeyPath='yes'>
            <!--             <Shortcut Id="desktopPdfEdit" Directory="DesktopFolder" Name="PdfEditor (Beta)"
                  WorkingDirectory='INSTALLDIR' Advertise="yes" /> -->
          </File>
          <RemoveFile Id="PurgeAppFolder" Name="config" On="uninstall" />
          <Shortcut Id="UninstallProduct"
                       Name="UninstallPdfEdit"
                       Description="Removes pdf Editor from the operating system"
                       Target="[System64Folder]msiexec.exe"
                       Arguments="/x [ProductCode]"/>
        </Component>
        <Component Id='Libraries' Guid='8f654235-16ee-4a04-b607-2f848fc32db1'>
          <File Id='qtcore' Source='$(env.QTDIR)\bin\QtCore4.dll'/>
          <File Id='qtGui'  Source='$(env.QTDIR)\bin\QtGui4.dll'/>
          <File Id='freetype' Source='$(var.SolutionDir)\libs\freetype6.dll' />
          <File Id='zdll' Source='$(var.SolutionDir)\libs\zlib1.dll' />
          <File Id='D050000L' Source='$(var.SolutionDir)\libs\D050000L.PFB' />
          <File Id='N019003L' Source='$(var.SolutionDir)\libs\N019003L.PFB' />
          <File Id='N019004L' Source='$(var.SolutionDir)\libs\N019004L.PFB' />
          <File Id='N019023L' Source='$(var.SolutionDir)\libs\N019023L.PFB' />
          <File Id='N019024L' Source='$(var.SolutionDir)\libs\N019024L.PFB' />
          <File Id='N021003L' Source='$(var.SolutionDir)\libs\N021003L.PFB' />
          <File Id='N021004L' Source='$(var.SolutionDir)\libs\N021004L.PFB' />
          <File Id='N021023L' Source='$(var.SolutionDir)\libs\N021023L.PFB' />
          <File Id='N021024L' Source='$(var.SolutionDir)\libs\N021024L.PFB' />
          <File Id='N022003L' Source='$(var.SolutionDir)\libs\N022003L.PFB' />
          <File Id='N022004L' Source='$(var.SolutionDir)\libs\N022004L.PFB' />
          <File Id='N022023L' Source='$(var.SolutionDir)\libs\N022023L.PFB' />
          <File Id='N022024L' Source='$(var.SolutionDir)\libs\N022024L.PFB' />
          <File Id='S050000L' Source='$(var.SolutionDir)\libs\S050000L.PFB' />
        </Component>
      </Directory>
    </Directory>
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <UIRef Id="WixUI_InstallDir" />
		<Feature Id="ProductFeature" Title="pdfSetup" Level="1">
			<!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
			<ComponentRef Id="Executable" />
      <ComponentRef Id="ImageSource"/>
      <ComponentRef Id="Libraries"/>
      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
	</Product>
</Wix>
